@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  color: #222;
  text-decoration: none;
}

.item {
  width: 300px;
  /* border: 1px solid red; */
  margin-bottom: 10px;
  position: relative;
}

.item input[type="text"],
.item input[type="email"],
.item input[type="tel"] {
  border: 1px solid lightgray;
  height: 40px;
  width: inherit;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  padding-left: 40px;
  outline: none;
  transition: 0.3s;
}

.item .fa {
  position: absolute;
  top: 0;
  left: 0;
  color: gray;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

/* 자기자신이 클릭이 된다면 어떻게 할것인지? 를 결정하는 것이 focus, input에서만 사용 가능 */
.item input[type="text"]:focus,
.item input[type="email"]:focus,
.item input[type="tel"]:focus {
  border: 1px solid dodgerblue;
  box-shadow: 0 0 5px dodgerblue;
}

/* 인접선택자는 바로 밑에 있는 것만 선택할 수 있고 위에 있는 것은 선택 불가하다.
+ 셀렉터로 사용하며 ~은 형제선택자 */

.item input[type="text"]:focus + .fa,
.item input[type="email"]:focus + .fa,
.item input[type="tel"]:focus + .fa {
  color: dodgerblue;
}

/* ::에 대해서 알아보기 */
.item input[type="text"]:focus::placeholder,
.item input[type="email"]:focus::placeholder,
.item input[type="tel"]:focus::placeholder {
  visibility: hidden;
}
